@using Microsoft.AspNetCore.Identity
@using OHD.Models;
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport" />
    <title>@ViewData["Title"] - OHD</title>
    <link rel="stylesheet" href="~/Template1/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template1/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Template1/assets/css/animate.css">
    <link rel="stylesheet" href="~/Template1/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Template1/assets/css/owl.min.css">
    <link rel="stylesheet" href="~/Template1/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template1/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Template1/assets/css/main.css">

    <link rel="shortcut icon" href="~/Template1/assets/images/favicon.png" type="image/x-icon">
</head>
<body>

    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="overlayer" id="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->
    <!--============= Header Section Starts Here =============-->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo-area">
                    <div class="logo">
                        <a>
                            <img src="~/Template1/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    @*__________ show after user login _________*@
                    <div class="support">
                        <a asp-area="" asp-controller="" asp-action="Index">Complains</a>
                    </div>
                </div>

                <ul class="menu">
                    <li>
                        <a asp-area="" asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="Index" asp-controller="Facilities">Facilites</a>
                    </li>

                    @*____________ show After Login ____________*@
                    @*<li>
                            <a asp-action="ContactUs" asp-controller="Home">Services</a>
                            <ul class="submenu">
                                <li>
                                    <a asp-action="AboutUs" asp-controller="Home">Your Complains</a>
                                </li>
                            </ul>
                        </li>*@

                    <li>
                        <a asp-area="" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="AboutUs" asp-controller="Home">About Us</a>
                    </li>

                    @*____________ show only for Validation ____________*@
                    @*<li>
                            <a href="404.html">404 Error</a>
                        </li>*@
                    <li class="d-block d-md-none">
                        <a asp-area="Account" asp-action="SignIn" asp-controller="Accounts" class="header-button">SignIn</a>
                        <a asp-area="Account" asp-action="SignUp" asp-controller="Accounts" class="header-button">SignUp</a>
                    </li>
                </ul>

                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="header-right">
                    @if (SignInManager.IsSignedIn(User)) //(false)
                    {
                        <div class="header-button d-none d-md-inline-block">
                            <a class="d-none d-md-inline-block"> @User.Identity.Name.Substring(0, 5)</a>
                            <span class="d-none d-md-inline">|</span>
                            <a asp-area="Account" asp-action="Logout" asp-controller="Accounts" class="d-none d-md-inline-block">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div class="header-button d-none d-md-inline-block">
                            <a asp-area="Account" asp-action="SignIn" asp-controller="Accounts" class="d-none d-md-inline-block">SignIn</a>
                            <span class="d-none d-md-inline">|</span>
                            <a asp-area="Account" asp-action="SignUp" asp-controller="Accounts" class="d-none d-md-inline-block">SignUp</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </header>
    <!--============= Header Section Ends Here =============-->
    @*<div class="container">
        <main role="main" class="pb-3">*@
    @RenderBody()
    @*</main>
        </div>*@




    <!--============= Footer Section Starts Here =============-->
    <footer class="footer-section">
        <div class="dot-slider bg_img" data-background="../Template1/assets/css/img/footer-dots.png"></div>
        <div class="container">
            <div class="footer-top cl-white padding-bottom padding-top">
                <div class="row mb--50 justify-content-between">
                    <div class="col-sm-8 col-lg-4">
                        <div class="footer-widget widget-about">
                            <div class="logo-area">
                                <div class="logo">
                                    <a href="index.html"><img src="../Template1/assets/images/logo/logo.png" alt="logo"></a>
                                </div>
                                <div class="support">
                                    <a href="#0">Help Center</a>
                                </div>
                            </div>
                            <p>Deskoto is a Support & Help Center Template to create your own 24/7 self-service customer support center.</p>
                            <ul class="social-icons">
                                <li>
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0" class="active"><i class="fab fa-pinterest-p"></i></a>
                                </li>
                                <li>
                                    <a href="#0" class=""><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4 col-lg-3 offset-lg-1">
                        <div class="footer-widget widget-link">
                            <h5 class="title">Menu</h5>
                            <ul>
                                <li>
                                    <a href="#0">Category Pages</a>
                                </li>
                                <li>
                                    <a href="#0">FAQ Individual Page</a>
                                </li>
                                <li>
                                    <a href="#0">Changelog Page</a>
                                </li>
                                <li>
                                    <a href="#0">Support Page</a>
                                </li>
                                <li>
                                    <a href="#0">404 Not Found</a>
                                </li>
                                <li>
                                    <a href="#0">Password Protected</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4">
                        <div class="footer-widget widget-newsletter">
                            <h5 class="title">Newsletter</h5>
                            <form class="newsletter-form">
                                <input type="text" placeholder="Enter Your Email" name="email">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom cl-white">
                <p>Copyright &copy; 2020 <a href="#0">Deskoto</a> - Designed by <a href="#0">UIAXIS</a></p>
            </div>
        </div>
    </footer>
    <!--============= Footer Section Ends Here =============-->



    <script src="~/Template1/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template1/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Template1/assets/js/plugins.js"></script>
    <script src="~/Template1/assets/js/bootstrap.min.js"></script>
    <script src="~/Template1/assets/js/wow.min.js"></script>
    <script src="~/Template1/assets/js/waypoints.js"></script>
    <script src="~/Template1/assets/js/nice-select.js"></script>
    <script src="~/Template1/assets/js/owl.min.js"></script>
    <script src="~/Template1/assets/js/magnific-popup.min.js"></script>
    <script src="~/Template1/assets/js/main.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
