@model IEnumerable<TblFacilities>


<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<!--============= Hero Section Starts Here =============-->
<div class="hero-section bg_img style-two" data-background="assets/images/banner/page-header.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-md-10">
                <div class="cate-header cl-white">
                    <h1 class="cate-title">Our Facilites</h1>
                    <p>
                        Can’t find the answer you’re looking for? Don't worry! Get in touch with the Docs Support
                        team, we will be glad to assist you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Contact Section Starts Here =============-->


    <!--============= Team Section Starts Here =============-->
    <section class="team-section padding-bottom">
        <div class="container">
            @foreach (var item in Model)
            {
                <div class="row justify-content-center mb-30-none mb-5 mt-3">
                    <div class="col-sm-10 col-md-6 col-lg-6 mb-5 ">
                        <div class="team-item">
                            <div class="team-thumb">
                                @*<img src="~/Services/img/service.jpg" alt="image" class="px-0 mx-0">*@
                                <img src="~/@item.FaciImage" alt="image" class="px-0 mx-0">
                            </div>
                            <div class="team-content">
                                <h5 class="title"><a href="#0">@item.FaciFacilities</a></h5>
                                <span>Support Center</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-6 col-lg-6">
                        <div class="team-item">
                            <div class="section-content">
                                <div class="section-bit my-2" style="color:gainsboro">About our services</div>
                                <h4 class="py-2" style="color:white">What we offer is not just services</h4>
                                <p class="section-desc" style="font-size:16px;color:gainsboro">
                                    @item.FaciBrifedescription
                                    @*Lorem ipsum dolor sit amet consectetur, adipisicing
                                    elit. Itaque quaerat eligendi, reiciendis similique
                                    impedit vero! Sed aperiam iusto eveniet ratione qui
                                    quos pariatur veniam nesciunt, soluta fugit debitis
                                    atque quibusdam mollitia ad, id itaque esse dolores!
                                    Ex quos similique alias fugiat excepturi laborum hic
                                    doloribus est culpa dolorum, eum illum.*@
                                </p>
                                <div class="section-services" style="color:gainsboro">
                                    <div class="row">
                                        <div class="col-sm-6 section-services_col">
                                            <i class="fa fa-laptop"></i>
                                            Satisfied Project
                                        </div>
                                        <div class="col-sm-6 section-services_col">
                                            <i class="fa fa-user"></i>
                                            Expert Team
                                        </div>
                                        <div class="col-sm-6 section-services_col">
                                            <i class="fa fa-clock-o"></i>
                                            Full Support
                                        </div>
                                        <div class="col-sm-6 section-services_col">
                                            <i class="fa fa-home"></i>
                                            Target Fulfilled
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <a asp-action="doComplain" asp-controller="Complain" asp-cont class="btn bg-white btn-lg">Click for Complain / Help</a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </section>




